<ul class="nav navbar-nav navbar-left">
    <li><a href="/signup">Sign up</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/rest">REST API</a></li>
    <li><a href="/node">Node JS</a></li>
    <li><a href="/ssr">SSR</a></li>
    <li><a href="/HTTP">HTTP methods</a></li>
    <li><a href="/cli">CLI</a></li>
  </ul>