<link rel='stylesheet' href='/style.css' />
<%- include('components/header')%>

<h1>Command-line interface</h1>
<h2>Relevant commands</h2>


<pre>
        Git clone https://github.com/Frederikmahipal/node-js-mandatory1
</pre>
<p>This commmand clone the repository, so you can continue developing<br>

When the project is cloned, you need to enter the repository</p>
<pre>
        CD node-js-mandatory1
</pre>
<p>This command changes current directory to the repository you just cloned.</p>

<p>If you need to start a new node project, use following commands</p>
<pre>
        mkdir 'reponame'
        cd 'reponame'
        npm install node
        node -v
</pre>
<p>Now, we have created our new repository, entered the repository and installed Node JS<br>
And we can see that our version of node is 18.8.0</p>
<p>When developing is done and it needs to be pushed to the repository on github, use following command:</p>
<pre>
    Git add -a
    Git commit -m "commit message"
    git push
</pre>
<p>This adds all the changes in the code to the commit, then adds a message to show whats being changed in the code, and then push it to the repository.</p>
<p>Other usefull commands could be:</p> 
<pre>
    Git init
</pre>
<pre>
    Git status
</pre>
<pre>
    Git log
</pre>