<link rel='stylesheet' href='/style.css' />
<%- include('components/header')%>

<div>
<h1> HTTP Methods</h1>
<p>
HTTP methods is a set of request used for performing actions <br>
We have used the following methods:
</p>

<p>GET <br>
The GET method is used for retrieving data form the server.
</p>

<p>POST <br>
The POST method is used for submitting data to the server
</p>

<p>
PUT <br> 
The PUT method is used to send data to a server to create/update a resource
</p>

<p>
PATCH <br>
The PATCH method is used to make partial changes in an exisiting resource<br>
It provides an entity with a list of changes to be applied to the resource
</p>

<p>
DELETE <br>
The DELETE method is used to deleting a specified resource
</p>

<p>
    Response codes <br>
    When making a request, a response is given to the specific request. <br> There is a lot of different response codes, but they are divided like this: 
</p>

<p>
    100-199 - informational responses <br>
    200-299 - successfull responses <br>
    300-399 - redirection messages <br>
    400-499 - client server error <br>
    500-599 - Server error responses <br>
</p>


</div>