<link rel='stylesheet' href='/style.css' />
<%- include('components/header')%>

<h1>Signed in as <%= username %></h1>
<form action="/page" method="GET">
    <button class="button1">Create new page</button>
</form>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit" class="button2">Log Out</button>
</form>
