<link rel='stylesheet' href='/style.css' />
<%- include('components/header')%>

<div>
<input type="header" placeholder="Header">
<textarea placeholder="Text for new page..."></textarea>
<button type="submit">Create new page</button>
<form action="/">
  <button class="button2">Discard</button>
</form>
</div>