<link rel='stylesheet' href='/style.css' />
<%- include('components/header')%>

<div>
<h1>RESTful API</h1>
<p>
  REST is a set of architectural constraints.
</p>

<p>
  When a client request is made via a RESTful API, it transfers a representation of the state of the resource to the requester or endpoint.<br>
  This can be delivered in different formats as: <br>
  JSON<br>
  HTML<br>
  Python<br>
  And more...
</p>

<p>
  If an API should be RESTful, following criteria needs to be fulfilled:
</p>

<p>
  A client-server architecture with HTTP request<br>
  Stateless client-server communication. No information is stored between request. All request are seperated<br>
  Cacheable data that streamlines client-server interactions
</p>
</div>